body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Caption {
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:200;
}
span.Copy {
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:200;
}
span.Hyperlink {
	color:#215e9e;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:200;
	text-decoration:underline;
}
span.Section-Header {
	font-family:"Helvetica Neue", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-right:3px;
}
p.ParaOverride-2 {
	margin-right:2px;
}
span.CharOverride-1 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-2 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:500;
	text-transform:none;
}
span.CharOverride-3 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:200;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:540.00px;
	z-index:6;
}
#_idContainer003 {
	-ms-transform:translate(8.000px,68.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.000px,68.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.000px,68.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.000px,68.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.48px;
	z-index:1;
}
#_idContainer004 {
	-ms-transform:translate(62.000px,238.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.000px,238.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(62.000px,238.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.000px,238.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.23px;
	z-index:3;
}
#_idContainer005 {
	-ms-transform:translate(297.400px,66.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.400px,66.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.400px,66.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.400px,66.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.20px;
	z-index:0;
}
#_idContainer006 {
	-ms-transform:translate(301.400px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(301.400px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.80px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(301.400px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(301.400px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.60px;
	z-index:4;
}
#_idContainer007 {
	-ms-transform:translate(428.000px,99.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(428.000px,99.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(428.000px,99.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(428.000px,99.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:57.84px;
	z-index:2;
}
#_idContainer008 {
	-ms-transform:translate(447.000px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(447.000px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(447.000px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(447.000px,239.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:57.00px;
	z-index:5;
}
#_idContainer009 {
	display:inline-block;
	height:269px;
	position:relative;
	width:540px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:540.00px;
	z-index:0;
}
#_idContainer011 {
	-ms-transform:translate(133.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(133.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(133.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(133.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.00px;
	z-index:2;
}
#_idContainer012 {
	-ms-transform:translate(156.560px,110.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(156.560px,110.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.66px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(156.560px,110.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(156.560px,110.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.92px;
	z-index:4;
}
#_idContainer013 {
	-ms-transform:translate(297.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:60.00px;
	z-index:3;
}
#_idContainer014 {
	-ms-transform:translate(348.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(348.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(348.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(348.000px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.00px;
	z-index:1;
}
#_idContainer015 {
	display:inline-block;
	height:156px;
	position:relative;
	width:540px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:534.00px;
	z-index:0;
}
#_idContainer017 {
	-ms-transform:translate(133.200px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(133.200px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(133.200px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(133.200px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.00px;
	z-index:1;
}
#_idContainer018 {
	-ms-transform:translate(188.240px,105.360px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(188.240px,105.360px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(188.240px,105.360px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(188.240px,105.360px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.92px;
	z-index:4;
}
#_idContainer019 {
	-ms-transform:translate(293.000px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(293.000px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(293.000px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(293.000px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:60.00px;
	z-index:3;
}
#_idContainer020 {
	-ms-transform:translate(348.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(348.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(348.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(348.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.00px;
	z-index:2;
}
#_idContainer021 {
	display:inline-block;
	height:150px;
	position:relative;
	width:540px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:540.00px;
	z-index:0;
}
#_idContainer023 {
	-ms-transform:translate(0.000px,18.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,18.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,18.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,18.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.00px;
	z-index:2;
}
#_idContainer024 {
	-ms-transform:translate(215.999px,17.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.999px,17.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(215.999px,17.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.999px,17.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:324.00px;
	z-index:1;
}
#_idContainer025 {
	display:inline-block;
	height:216px;
	position:relative;
	width:540px;
}
#_idContainer028, #_idContainer030, #_idContainer041, #_idContainer042 {
	display:inline-block;
	height:114px;
	width:186px;
}
#_idContainer029 {
	display:inline-block;
	height:108px;
	width:186px;
}
#_idContainer031 {
	display:inline-block;
	height:7px;
	position:relative;
	width:50px;
}
#_idContainer032 {
	display:inline-block;
	height:222px;
	width:66px;
}
#_idContainer033 {
	display:inline-block;
	height:7px;
	position:relative;
	width:48px;
}
#_idContainer043, #_idContainer044 {
	display:inline-block;
	height:198px;
	width:324px;
}
#_idContainer045 {
	display:inline-block;
	height:44px;
	position:relative;
	width:160px;
}
#_idContainer052 {
	display:inline-block;
	height:129px;
	width:186px;
}
#_idContainer053 {
	display:inline-block;
	height:222px;
	width:324px;
}
#_idContainer054, #_idContainer083, #_idContainer086 {
	display:inline-block;
	height:132px;
	width:186px;
}
#_idContainer055 {
	display:inline-block;
	height:96px;
	width:186px;
}
#_idContainer056 {
	display:inline-block;
	height:15px;
	position:relative;
	width:21px;
}
#_idContainer057 {
	display:inline-block;
	height:12px;
	position:relative;
	width:57px;
}
#_idContainer058 {
	display:inline-block;
	height:9px;
	position:relative;
	width:54px;
}
#_idContainer060 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:156.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:420.00px;
	z-index:0;
}
#_idContainer061 {
	-ms-transform:translate(216.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(216.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.00px;
	z-index:1;
}
#_idContainer062 {
	-ms-transform:translate(318.000px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(318.000px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(318.000px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(318.000px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.00px;
	z-index:2;
}
#_idContainer063 {
	-ms-transform:translate(330.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(330.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(330.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(330.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:102.00px;
	z-index:4;
}
#_idContainer064 {
	-ms-transform:translate(420.000px,96.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(420.000px,96.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(420.000px,96.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(420.000px,96.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.00px;
	z-index:3;
}
#_idContainer065 {
	display:inline-block;
	height:156px;
	position:relative;
	width:534px;
}
#_idContainer071 {
	display:inline-block;
	height:48px;
	width:114px;
}
#_idContainer072, #_idContainer073 {
	display:inline-block;
	height:168px;
	width:186px;
}
#_idContainer074 {
	display:inline-block;
	height:9px;
	width:21px;
}
#_idContainer075 {
	display:inline-block;
	height:15px;
	width:15px;
}
#_idContainer084 {
	display:inline-block;
	height:126px;
	width:186px;
}
#_idContainer085 {
	display:inline-block;
	height:127px;
	width:186px;
}
#_idContainer087 {
	display:inline-block;
	height:108px;
	width:108px;
}
#_idContainer088 {
	display:inline-block;
	height:12px;
	position:relative;
	width:12px;
}
#_idContainer089 {
	display:inline-block;
	height:108px;
	width:96px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-color:#e91579;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-width:2px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#e91579;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
